<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>indiebreath</title>
        <link rel="stylesheet" href="/css/index.css" />
    </head>
    <body>
        <div id="main">
            <div id="information-view">
                <img src="/images/avatar.jpg" id="avatar" width="65%">
                <div>
                    <h1>indiebreath</h1>
                    <h3>Socials</h3>
                    <ul>
                        <li id="github"><a href="https://github.com/indie-breath"><img src="/images/github.svg" alt="Github" width="10%"></a></li>
                    </ul>
                </div>
            </div>

            <div id="items-view">
                <h2>Projects</h2>
                <div id="projects-view">
                   <div class="projects-item">
                        <h3>Extant Project</h3>
                        <div class="projects-mid">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit iure numquam neque vitae. Consectetur sequi distinctio eaque odit odio obcaecati porro provident cumque excepturi, cum, sed tempore accusantium maiores non!</p>
                            <img src="/images/extant-preview.jpg" width="50%">
                        </div>
                        <a href="">Link</a>
                   </div> 

                    <div class="projects-item">
                       <h3>Exceptional Kids</h3> 
                        <div class="projects-mid">
                           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt porro iusto maxime dolores sapiente vero earum error atque, quod sit? Alias, illo nam quos iste saepe laudantium ex at eaque?</p> 
                            <img src="/images/exceptional-kidz.jpg" width="50%">
                        </div>
                        <a href="">Link</a>
                    </div>

                    <div class="projects-item">
                       <h3>Portfolio Website</h3> 
                        <div class="projects-mid">
                           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates vitae fugit excepturi unde sequi praesentium laborum iusto ullam consequatur aliquam veritatis error natus ipsa, dicta velit illum pariatur. Debitis, in.</p> 
                            <img src="" width="50%">
                        </div>
                        <a href="">Link</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
