:root {
    --text-color: #e8f0f8;
    --background-color: #010104;
    --color-a: #141418;
    --color-b: #101013;
    --code-color: #d8d8da;
}

html {
    background-color: var(--color-a);
    margin: 0;
}

div {
    width: 60%;
    margin: auto;
    margin-top: 80px;
    color: var(--background-color);
    background-color: white;
    font-family: sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
}

h1,
h2 {
    margin-top: 50px;
}

pre {
    background-color: var(--code-color);
    margin-left: 25px;
    padding: 5px 10px;
    max-width: 100%;
    width: fit-content;
    white-space: pre-wrap;
    font-family: monospace;
}

img {
    margin: 0;
    width: 100%;
    border: black 1px solid;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: grey;
}

@media only screen and (max-width: 1110px) {
    div {
        width: 80%;
        margin: auto;
        margin-top: 20px;
        padding: 20px 40px;
    }

    pre {
        margin: 0;
    }
}
