:root {
    --text-color: #e8f0f8;
    --background-color: #010104;
    --color-a: #141418;
}

html {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: sans-serif;
}

body {
    margin: 0;
}

#main {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 0;
    margin: 0;
}

#information-view {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 70px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background: var(--color-a);
    border-radius: 5%;
    grid-row: 1 / span 2;
}

#information-view ul {
    list-style-type: none;
}

#avatar {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#information-text {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
}

#projects-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -10px;
}

.projects-item {
    margin: 10px;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 20px;
    flex-basis: 44%;
    flex-grow: 1;

    background-color: var(--color-a);
    color: var(--text-color);
    border-radius: 5px;
    position: relative;
}

.projects-mid {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}

.projects-mid p {
    width: 60%;
}

.projects-mid img {
    border-radius: 5px;
    margin-left: 5px;
}

.projects-item a {
    text-decoration: none;
    color: var(--text-color);
}

.projects-item a:hover {
    color: #c7c7c7;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.projects-item:hover::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(
        from var(--angle),
        #ff4545,
        #00ff99,
        #006aff,
        #ff0095,
        #ff4545
    );
    background-radius: 5px;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2px;
    filter: blur(0.5rem);
    animation: 3s spin linear infinite;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

#blog {
    grid-column: 2;
}

#blog-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -10px;
}

.blog-item {
    margin: 10px;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 20px;
    flex-basis: 25%;
    flex-grow: 1;

    background-color: var(--color-a);
    color: var(--text-color);
    border-radius: 5px;
    position: relative;
}

.blog-item:hover::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(
        from var(--angle),
        #ff4545,
        #00ff99,
        #006aff,
        #ff0095,
        #ff4545
    );
    background-radius: 5px;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2px;
    filter: blur(0.5rem);
    animation: 3s spin linear infinite;
}

.blog-item a {
    text-decoration: none;
    color: var(--text-color);
}

.blog-item a:hover {
    color: #c7c7c7;
}

@media only screen and (max-width: 1110px) {
    #main {
        display: block;
    }

    #information-view {
        margin-top: 20px;
        margin-left: 15px;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        background: var(--color-a);
        border-radius: 5%;

        display: grid;
        grid-template-columns: 25% 75%;
    }

    #avatar {
        width: 100;
    }

    #information-text {
        padding-left: 50px;
    }

    #information-text ul li img {
        width: 8%;
    }

    #projects-blog {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 50px;
        margin-right: 25px;
    }
}
