<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <link rel="stylesheet" href="/public/css/blog-page.css">
    <link rel="icon" type="image/x-icon" href="/public/images/avatar.jpg" />
  </head>
  <body>
    <div class="container">
      <%- content %>
    </div>
  </body>
</html>
