<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <link rel="stylesheet" href="/public/css/blog-page.css">
  </head>
  <body>
    <div class="container">
      <%- content %>
    </div>
  </body>
</html>
